.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  display: inline-block;
  width: 470px;

}

.pagination a {
  color: #222;
  text-decoration: none;
  margin-right: -5px;
  border: 1px solid black;
  padding: 10px;
  background-color: #ddd;




}

.pagination a.disabled {
  color: #C3C7C7;

}

.pagination a.active {
  color: #A2A8A8;
  background-color: #474D4C;
  border: 1px solid #A2A8A8; 

}

ol{
  display: inline-block;
  margin-left: -40px;

}

li{
  display: inline;


}

