.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

small.page_no {
  float: right;
  color: #ddd;
}



.pagination {
  background-color: #eee;
  margin: 10px 0px;
}

.pagination a {
  color: #222;
  text-decoration: none;
  margin-left: 25px;
  float: left;
}

.pagination li {
  color: transparent;
  margin-left: 25px;
  float: left;
}

.pagination a.disabled {
  color: #ccc;
}

.footer {
  width: 50%;
  text-align: center;
  padding-top: 25px;
  padding-left: 70px;
}
