.container {
  margin: 0 auto;
  width: 720px;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 15px 0px;
}

.pagination > a {
  float: left;
  width: auto;
  padding: 0 8px;
  text-decoration: none;
}

.pagination ol {
  list-style: none;
}

.pagination ol li {
  float: left;
  width: 30px;
  text-align: center;
}

.pagination ol li a{
  color: #222;
  text-decoration: none;
  float: left;
}

.pagination ol li a.active{
  color: white;
  background-color: gray;
  text-decoration: none;
}

.pagination a.disabled {
  color: #ccc;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  clear: left;
  padding-top: 15px;
}